[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=tesseract-trainer %U
Name=Tesseract-Trainer
Comment=Train tesseract-ocr
Icon=/usr/share/lios/lios.png
Categories=Graphics;
MimeType=image/bmp;image/tiff;image/jpeg;image/png;image/jpeg2000;
