Package: lios
Priority: optional
Section: graphics
Installed-Size: 250
Architecture: all
Version: 2.0
Depends: python3,python3-imaging-sane|python3-sane,python3-speechd,tesseract-ocr,imagemagick,cuneiform,espeak,poppler-utils,python3-enchant,aspell-en
Maintainer: Nalin.x.Linux <nalin.x.linux@gmail.com>
Homepage: http://sourceforge.net/projects/lios/
Description: Easy ocr solution for gnu/linux
 Lios is a free and open source software for converting print in to text
 using either scanner, camera, or screenshot, It can also produce text
 out of scanned images from other sources such as Pdf, Image or Folder 
 containing Images. Program is given total accessibility for visually impaired.
 Lios is written in python3, and we release it under GPL-3 license.
 key fetures of lios 
 1 Continues Scan and OCR with reading 
 2 Optimize scanner brightness
 3 Capture direct Screenshot
 4 Full auto rotation (for visually impaired) 
 5 A better rectangle selector
 6 Text Reader for low vision with Highlighting, With user selected Color,
 Font, and Background Color,
 7 Audio converter(espeak),
 8 Capture image directly from webcam 
 9 Fully accessible for person with visually impairment
